.bkimg{
    background-image: url(../images/duncan-kidd.jpg);
    background-size: cover;
}
a.changecol{
    color: #000000 !important;
}

.join{
    padding-top: 60%;
    padding-bottom: 20%;
}

.align-icons{
    vertical-align: text-top;
}

@media only screen and (max-width: 1024px) {
    .uk-card{
        height: 100%;
    }

    .uk-card-title {
        height: 15%;
        font-size: large;
        margin-bottom: 10px;
    }


    .search-box{
        width: 100%;
    }

    .search-button{
        width:100%;
    }

    .property-feature{
        height: 50px;
    }

}


@media only screen and (max-width: 640px) {
    .top-landing{
        flex-direction: column-reverse;
    }

    .bkimg{
        background-size: 100%;
    }

    .nav-items{
        padding-left: 20px;
    }

    .nav-items li a{
        min-height: 60px;
    }

    .search-box{
        width: 100%;
    }

    .search-button{
        width:100%;
    }

    .uk-card-title {
        height: 10%;
        margin-bottom: 10px;
    }

    .uk-margin-large-bottom{
        margin-bottom: 10px !important;
    }

    .top-picks img{
        width: 100%;
        
    }

    .property-feature{
        height: auto;
    }
    
    .uk-card-title{
        font-size:  xx-large;
        height: 80px;
    }

}